{{#Items}} <!--Section tag for iterating through the list of items-->
<!-- Single product Ad Template Layout. Position of the Ad can be configured by specifying pull-left or pull-right class below-->
<div class="aalb-pa-ad-unit aligncenter" id="{{ID}}">
    {{#Item}} <!-- Section tag for beginning of information on one item -->
    {{#aalb}} <!-- Section tag for picking up information on attributes for the item -->
    <a class="aalb-pa-product-image-link" href="{{DetailPageURL}}" title="{{Title}}" target="_blank" rel="nofollow"> <!--Individual attributes are provided as variable tags as {{[[attribute]]}}. Check documentation for list of supported variable tags.-->
      <img class="aalb-pa-product-image-source" src="{{MediumImageURL}}" srcset="{{LargeImageURL}}" alt="{{Title}}" />
    </a>
    <div class="aalb-pa-product-details">
      <div class="aalb-pa-product-title">
        <a href="{{DetailPageURL}}" target="_blank" rel="nofollow">
          {{Title}}
        </a>
      </div>
      <div class="aalb-pa-product-offer-price">
        <!-- The section tag for different marketplaces ensures localization of static text.  -->
        {{PriceLabel}}: <span class="aalb-pa-product-offer-price-value">{{CurrentPrice}}</span>
      </div>
    </div>
    {{/aalb}}
    {{/Item}}
   </div>
{{/Items}}