.aalb-pa-product-details {display: inline-block;max-width: 100%;text-align: left;}
.aalb-pa-ad-unit .aalb-pa-product-title a {display: block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 13px;color: #111;text-decoration: none;}
.aalb-pa-product-offer-price {font-size: 13px;color: #111;}
.aalb-pa-product-offer-price-value {color: #ab1700;font-weight: bold;}
.aalb-pa-product-list-price {font-size: 13px;color: #565656;}
.aalb-pa-product-list-price-value {text-decoration: line-through;}
@media screen and (max-width: 440px) {.aalb-pa-ad-unit {float: none;width: 100%;}
	.aalb-pa-product-details {text-align: center;margin-top: 11px;}}